.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
# 上传码云忽略掉这些文件，提高运行性能
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
